.genre-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genre-content {
  max-height: 300px;
  overflow-y: auto;
}

@media all and (min-width: 768px) {
  .genre-container {
    max-width: 400px;
  }
}

@media all and (min-width: 768px) {
  .genre-container {
    max-width: 600px;
  }
}
