.edit-password-container {
  width: 250px;
  text-align: center;
}
button {
  margin: 10px;
  font-size: small;
  color: white;
  background-color: #ff5f52;
}

h2 {
  margin: 24px;
  text-align: center;
  font-size: medium;
}
