<div class="edit-password-container">
  <mat-card>
    <button
      mat-icon-button
      class="close-button"
      aria-label="close dialog"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="edit-password-title">
      <mat-card-header>
        <mat-card-title>Edit Password</mat-card-title>
      </mat-card-header>
      <div class="edit-password-form">
        <mat-card-content>
          <form>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Password"
                placeholder="Password"
                type="password"
                name="Password"
              />
            </mat-form-field>
          </form>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button (click)="editUserPassword()">
            Update password
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
