<div class="edit-password-container">
  <button
    mat-icon-button
    aria-label="button that cancels deleting user account"
    [mat-dialog-close]="true"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div class="edit-password-title">
    <mat-card-header>
      <mat-card-title>Edit Password</mat-card-title>
    </mat-card-header>
    <div class="edit-password-form">
      <mat-card-content>
        <form>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Password"
              placeholder="Password"
              type="password"
              name="Password"
            />
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          (click)="editUserPassword()"
          color="primaryred"
        >
          Update password
        </button>
      </mat-card-actions>
    </div>
  </div>
</div>
