.welcome-container {
  padding-top: 20%;
  text-align: center;
}

.welcome-title {
  margin: 30px;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.button-container {
  text-align: center;
}

button {
  margin: 30px;
  padding: 5px;
  width: 100px;
  font-size: large;
  color: white;
}

.mat-primaryred {
  background-color: #c62828;
}
