.page-container {
  text-align: center;
}

.mat-card-header {
  margin-top: 20px;
}

.mat-icon-button {
  color: white;
  align-items: center;
}

button {
  margin: 20px;
  font-size: small;
  color: white;
  background-color: #ff5f52;
}

h2 {
  margin: 24px;
  text-align: center;
  font-size: medium;
}

.mat-primaryred {
  background-color: #c62828;
}
