.delete-account-container {
  width: 250px;
  text-align: center;
}

h3 {
  text-align: center;
}

.delete-account-actions {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 30px;
  padding: 5px;
  width: auto;
  font-size: small;
  color: white;
}

button:hover {
  font-size: small;
  background-color: #ff5f52;
}

h2 {
  margin: 24px;
  text-align: center;
  font-size: medium;
}

.mat-primaryred {
  background-color: #c62828;
}

.mat-secondary {
  background-color: white;
  color: black !important;
}
