.synopsis-container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

button {
  margin: 10px;
  font-size: small;
  color: #ff5f52;
}

.synopsis-header {
  justify-content: center;
}

.synopsis-content {
  max-height: 275px;
  overflow-y: auto;
}

@media all and (min-width: 768px) {
  .synopsis-container {
    max-width: 400px;
  }
}

@media all and (min-width: 768px) {
  .synopsis-container {
    max-width: 600px;
  }
}
